@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Yeongdeok";
  src: url("../../public/assets/font/YeongdeokSea.ttf");
}

@layer base {
  :root {
    --header-height: 60px;
    --bottom-height: 56px;
  }

  body {
    height: 100dvh;
  }

  * {
    @apply m-0 p-0 font-sans outline-none;
  }

  main > section {
    height: calc(100dvh - var(--header-height) - var(--bottom-height));
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  fill: rgb(var(--foreground-rgb));
  stroke: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @keyframes progress {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes rightMove {
    0% {
      transform: translateX(-70%);
    }
    70% {
      transform: translateX(40%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes leftMove {
    0% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(40%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}
